<template>
  <div class="header">
    <el-button v-on:click="decreaseDay" icon="el-icon-arrow-left" circle />
    <div>{{ selectedDate }}</div>
    <el-button v-on:click="increaseDay" icon="el-icon-arrow-right" circle />
  </div>
</template>

<script>

import { mapState } from 'vuex'

export default {
  name: 'AppHeader',
  props: {
    day: {
      type: String,
      default: null
    }
  },
  computed: {
    ...mapState(['selectedDate']),
  },
  methods: {
    increaseDay () {
      return this.$store.commit('changeDay', 1)
    },
    decreaseDay () {
      return this.$store.commit('changeDay', -1)
    },
  }
}
</script>

<style lang="scss">
  @import "./AppHeader";
</style>
