<template>
  <div class="app">
    <app-header />
    <div class="app-content">
      <el-button v-if="!isNotToday" v-on:click="toggleTimer">{{ running ? 'Stop' : 'Start' }}</el-button>
      <day-recap />
    </div>
  </div>
</template>

<script>
  import DayRecap from '@/components/DayRecap/DayRecap';
  import AppHeader from '@/components/AppHeader/AppHeader';
  import { getTodayDate } from '@/utils/date';
  import { mapState } from 'vuex';

  export default {
    name: 'App',
    components: {DayRecap, AppHeader},
    computed: {
      ...mapState(['selectedDate']),
      running () {
        return this.$store.state.running
      },
      isNotToday () {
        return getTodayDate() !== this.selectedDate
      },
    },
    methods: {
      toggleTimer () {
        this.$store.commit(this.running ? 'stop' : 'start')
      }
    }
  }
</script>

<style lang="scss">
  @import "index";
</style>
