<template>
  <div class="day-recap">
    <div>Total Worked Time => {{ totalTime }}</div>
    <div>
      <div class="day-recap-row" v-for="(day) in dayData" :key="day.start">
        <div>From: {{ utcMsTimestampToTime(day.start) }}</div>
        <div>To: {{ utcMsTimestampToTime(day.stop || now) }}</div>
      </div>
    </div>
  </div>
</template>

<script>

import { roundedDuration, utcMsTimestampToTime } from '@/utils/date';
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'DayRecap',
  props: {
    day: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      timer: null,
      now: Date.now(),
      dates: {}
    };
  },
  computed: {
    ...mapGetters(['getDayData']),
    ...mapState(['selectedDate', 'dayDataHash']),
    dayData () {
      return this.$store.getters.getDayData
    },
    totalTime () {
      return roundedDuration(this.dayData?.reduce((sum, current) => sum + (current.stop || this.now) - current.start, 0));
    }
  },
  methods: {
    utcMsTimestampToTime,
  },
  created () {
    this.timer = setInterval(() => {
      this.now = Date.now()
    }, 1000)
  },
  beforeDestroy () {
    clearInterval(this.timer);
  }
}
</script>

<style lang="scss">
  @import "./DayRecap";
</style>
